h1 {
  font-size: 36px;
}

.selecter-wrapper {
  margin-bottom: 24px;
}

.linemessage-wrapper {
  display: flex;
  flex-direction: column;
  margin-right: 16px;
}

.movie-wrapper {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .selecter-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  .linemessage-wrapper {
    flex-basis: 50%;
    margin-right: 32px;
  }

  .movie-wrapper {
    flex-basis: 50%;
  }

  h2 {
    font-size: 24px;
  }
}
